In [1]:
import pandas as pd

In [2]:
#import big query
from google.cloud import bigquery
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(r"C:\Users\henri\OneDrive\Documents\Work 2023\Projects For Portfolio\ListenBrainz\ListenBrainz-music-dataset-analysis\Keys\midyear-courage-403912-08137d1dacfa.json")
project_id = "midyear-courage-403912"
client = bigquery.Client(credentials=credentials,project=project_id)

In [14]:
#Find top 10 played artists in 2018(most recent year in db)
query_job = client.query("""
SELECT artist_name, COUNT(*) AS artist_count
FROM 
   (SELECT artist_name, EXTRACT(YEAR FROM listened_at) AS year_played
    FROM listenbrainz.listenbrainz.listen)
WHERE year_played = 2018
GROUP BY artist_name
ORDER BY artist_count DESC
LIMIT 10;

   """)
;
results = query_job.result().to_dataframe()
results

   artist_name  artist_count
0    Radiohead         18706
1        Aimer         16685
2  The Beatles         12666
3   Kanye West         11740
4     Gorillaz         10415
5    Daft Punk         10252
6         Muse          9827
7       Bonobo          9396
8   Pink Floyd          9228
9     Coldplay          9221

In [15]:
# ideas for insights : top 20 artists for 2023, top users for stream tracks, most popular time of day in past 6 month.

#Extract hour from timestamp and then count(*) to find the most popular listening hour in the day 
SELECT EXTRACT(HOUR)